
spring:
  application:
    name: anunciofacil-backend
  datasource:
    url: jdbc:mysql://localhost:3306/anuncio_facil
    username: ${username}
    password: ${password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create
  output:
    ansi:
      enabled: ALWAYS

jwt:
  secret: "dBeRLCF7dhSW6G16O309aZZuHEQud5vLvSYkwwlSsYU="
  expiration: 3600000

